*tmp/
*cmd/tmp/
*cmd/eaglenwew/__debug_bin
*vendor/
.idea
app/cmd/bin
app/configs/config_dev.yaml
.vscode/
git.sh
*git.sh

# Logs
*logs
*.log
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
*pnpm-debug.log*
*lerna-debug.log*

ui/node_modules
.DS_Store
ui/dist
ui/dist-ssr
*coverage
*.local

*/cypress/videos/
*/cypress/screenshots/
*auto-imports.d.ts
*components.d.ts
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
